.footer-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #100F0F;
}

.icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-footer img {
    height: 25px;
    width: 25px;
    padding: 10px;
}



.cypo {
    color: #FFFFFF;
}

.logo-footer {
    cursor: pointer;
    padding: 40px 20px 40px 20px;
}

@media (max-width: 800px) {
    .footer-bg {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cypo {
        padding-left: 10px;
        width: 30ch;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .cypo {
        padding-right: 10px;
        width: 25ch;
    }
    .icon-footer {
        padding-top: 20px;
        align-items: center;
        justify-content: center;
    }
}