body {
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
} 

h1, 
h2,
h3,
h4,
ul, 
p {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
  }

.header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background: #F8752B;
}

.menu,
.mundi {
    grid-area: 1/2;
}

.mundi img {
    width: 100%;
    height: 937px;
    object-fit: cover;
}

.menu {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    background: #F8752B;
}

.header-menu li {
    padding: 10px;
}

.header-logo {
    display: flex;
    padding-left: 30px;
    padding-top: 15px;
    z-index: 1;
}

.introducao {
    display: grid;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 200px;
    justify-items: start;
    color: #FFFFFF;
}

.introducao h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08rem;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    padding-bottom: 50px;
}

.introducao h1 {
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 72px;
    line-height: 30px;
    letter-spacing: 0.01rem;
    padding-bottom: 50px;
}

.introducao p {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 45px;
}

.introducao button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-decoration: none;
    border: none;
    padding: 15px 40px;
    border-radius: 2px;
}

@media (max-width: 1400px) {
    .header{
        grid-template-columns: 1fr;
        background: linear-gradient(to bottom, #F8752B 70%, #FFFFFF 0%);
    }
    .introducao {
        padding-bottom: 30px;
    }
    .mundi {
        grid-area: auto;
        padding: 70px;
    }
    .mundi img {
        height: auto;
        width: 100%;
    }
    .header-menu {
        display: none;
    }
}

@media (max-width: 800px) {
    .introducao {
        padding: 50px 50px 20px 50px;
    }
    .mundi {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    
    .introducao {
        padding: 10px;
    }
    .introducao h1 {
        font-size: 48px;
        padding-bottom: 20px;
    }
    .introducao h3 {
        font-size: 16px;
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .introducao p {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .introducao button {
        padding: 10px 30px;
    }
}
